* {
    margin: 0;
    padding: 0;
}
nav {
    background: black;
    color: white;
    height: 60px;
    display: flex;
    padding: 0 2rem;
    align-items: center;
}
.home {
    margin-left: 90%;
    margin-top: -40px;
    display: flex;
    list-style: none;
}
.home li {
    margin-left: 3rem;
}
.home li a {
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    border: 1px solid white;
    border-radius: 12px;
}
.home li a:hover {
    background-color: red;
}